In [1]:
import pandas as pd

C:\Users\iancu\AppData\Local\Temp\ipykernel_7420\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dataframe = pd.read_excel('./carros.xlsx')
dataframe

       marca    modelo   ano
0       Fiat     Marea  1999
1  Chevrolet  Chevette  1978
2       Ford    Escort  1997
3       Fiat     Marea  1999
4  Chevrolet  Chevette  1982

In [9]:
dataframe = dataframe.drop_duplicates('modelo')

In [11]:
dataframe.to_excel('./carros_sem_duplicatas.xlsx')