In [5]:
import pandas as pd

In [6]:
dataframe = pd.read_excel('carros.xlsx')
dataframe

       marca    modelo   ano
0       Fiat     Marea  1999
1  Chevrolet  Chevette  1978
2       Ford    Escort  1997
3       Fiat     Marea  1999
4  Chevrolet  Chevette  1982

In [10]:
for i, row in dataframe.iterrows():
    print(f'{row.marca} - {row.modelo} - {row.ano}')

Fiat - Marea - 1999
Chevrolet - Chevette - 1978
Ford - Escort - 1997
Fiat - Marea - 1999
Chevrolet - Chevette - 1982